<p-button label="Add new" styleClass="p-button-success" (onClick)="addNew()"></p-button>

<p-table [value]="tasks" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Task</th>
      <th>Description</th>
      <th>Operation</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{task.number}}</td>
      <td>{{task.task}}</td>
      <td>{{task.description}}</td>
      <td>
        <p-button label="Edit" styleClass="p-button-warning" (onClick)="editItem(task)"></p-button>
        <p-button label="Remove" styleClass="p-button-danger" (onClick)="removeItem(task)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
